<li id="appointment_id_<%= appointment.id %>">
  <%= hidden_field_tag "call_log[appointment_ids][]",appointment.id %>
  <div class="collapsible-header">
    <i class="material-icons">filter_drama</i><%= appointment.date_of_visit %>
    <button type="button" class="remove_this_appointment" >x</button>
  </div>
  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
</li>